
<!DOCTYPE html>
<html ng-app="colorMixer">
<head>
	<title>Color mixer - la jmina skari</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="./css/style.css">

	<script type="text/javascript" src="./js/ntc.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

	<script src="./js/main.js"></script>
</head>
<body class="container"><div class="col-sm-12">
	<h1 class="text-center">Color mixer</h1>

	<table class="color-table text-center" ng-controller="ColorMixerController as colorMix">
		<thead>
			<tr>
				<th>Leftmost</th>
				<th colspan="3">Resulting color</th>
				<th>Rightmost</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="leftmost-color" rowspan="4">&nbsp;</td>
				<td class="result-color" colspan="3" title="Resulting direct color">
					<span>
						Direct<br />
						<span class="result-rgb-color">rgba(0,0,0,0)</span><br />
						<span class="result-eng-color">Transparent</span>
					</span>
				</td>
				<td class="rightmost-color" rowspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td class="result-vague-color" colspan="3" title="Resulting vague color">Vague</td>
			</tr>
			<tr>
				<td class="result-vague-color text-right" title="Resulting vague color"><span class="result-rgb-color">rgba(0,0,0,0)</span></td>
				<td class="result-vague-color" title="Resulting vague color">&lt;=&gt;</td>
				<td class="result-vague-color text-left" title="Resulting vague color"><span class="rightmost-rgb-color">rgba(0,0,0,0)</span></td>
			</tr>
			<tr>
				<td class="result-vague-color text-right" title="Resulting vague color"><span class="result-eng-color">Transparent</span></td>
				<td class="result-vague-color" title="Resulting vague color">&lt;=&gt;</td>
				<td class="result-vague-color text-left" title="Resulting vague color"><span class="rightmost-eng-color">Transparent</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="5">Append colors</td>
			</tr>
			<tr>
				<td colspan="5">
					<a href="#" class="label color button badge {{ color.color }}" ng-click="colorMix.append(this)" data-color="{{ color.color }}" data-color-hex="{{ color.colorHex }}" title="{{ color.title }}" ng-repeat="color in colorMix.colors">{{ color.lojbanText }}</a>
				</td>
			</tr>
			<tr>
				<th colspan="5">Resulting tanru</td>
			</tr>
			<tr>
				<td colspan="5" class="tanru">
					<a href="#" class="label color button badge {{ color.color }}" ng-click="colorMix.remove(this)" data-color="{{ color.color }}" data-color-hex="{{ color.colorHex }}" title="{{ color.title }}" ng-repeat="color in colorMix.tanru track by $index">{{ color.lojbanText }}</a>
				</td>
			</tr>
			<tr>
				<td colspan="5">Names provided by <em>Chirag Mehta</em> of <strong>Name that Color</strong> JavaScript library project</td>
			</tr>
		</tfoot>
	</table>
</div>
</body>
</html>
